/*https://coolors.co/palette/5bba6f-3fa34d-2a9134-137547-054a29*/
/* COLORES */
$verdeUno: #5BBA6F;
$verdeDos: #3FA34D; 
$verdeTres: #2A9134;
$verdeCuatro: #137547;
$verdeCinco: #054A29;

$negro: #000;
$blanco: #FFF;

$familiar: 'Quicksand', sans-serif;

$normal: 400;
