{% extends 'index.html' %}
{% block title %}Codigo QR{% endblock %}
{% block content %}

<div class="div__codigoqr">
    <div class="div__codigoqr-description">
        <p class="codigoqr-spinmovies">Spinmovies <span class="QR">QR</span></p>
        <p class="p-description">
            Cuando simplemente quieras utilizar tu celular para navegar dentro
            de nuestro sistema de peliculas, conectate desde tu navegador preferido
            a tu dispositivo movil, asi no tendras que buscar la pagina en caso de 
            que este sea tu problema, resuelvelo facil ;) ...
        </p>
    </div>

</div>

{% endblock %}